@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    box-sizing: border-box;
}


body{
font-family: 'Muli', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
overflow: hidden;

}

.bg{
    background: url('https://wallpapercave.com/wp/wp1837539.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(70px);
}


.loading-text{

    font-size: 50px;
    color: #fff;


}