@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{


}

*{
    box-sizing: border-box;
}


body{
    background-color: steelblue ;
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

.container{background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;

    text-align: center;
    max-width: 100%;
    width: 800px;    
}

h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;

}

.btn{
    background-color: blueviolet;
    border:0;
    color:#fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;

}

.btn:active{
    transform: scale(0.95);
}

.btn:focus{
    outline:0;
}