@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{


}

*{
    box-sizing: border-box;
}


body{
    background-color: #E5E7EB;

    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
}


.btn{
    background-color: #C4B5FD
    ;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.btn:active{
    transform: scale(0.89);
}


#toast{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.toast{
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}