@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{


}

*{
    box-sizing: border-box;
}


body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}


.square{
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height:16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}

.square:hover{
    transition-duration: 0s;
}